################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Docs/2017版本.rar
/Client/Framework/Library/
/Client/Framework/Temp/
/Client/Framework/.vs/
*.csproj
*.userprefs
*.unityproj
*.DS_Store